<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>질문목록</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
</head>
<body>

<table class="table">
    <thead>
    <tr>
        <th>순번</th>
        <th>아이디</th>
        <th>제목</th>
        <th>작성일시</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="question, i : ${qList}">
        <td th:text="${i.count}"></td>
        <td th:text="${question.id}"></td>
        <td>
            <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
        </td>
        <td th:text="${question.createDate}"></td>
    </tr>
    </tbody>
</table>

<a th:href="@{/question/create}">질문 등록하기</a>

<a th:href="@{/user/signup}">회원가입</a>

<a sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>

<a sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>

</body>
</html>