<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>이력서 목록</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="p-5 mb-5 text-center</> bg-light">
  <h1 class = "mb-3">Resume</h1>
</div>

<div class="container">
  <div class="row-6" th:each="item : ${rList}">
    <div class="card">
      <div class="card-header" th:text="${item.id}"></div>
      <div class ="card-body">
        <h5 class="card-title" th:text="${item.name}"></h5>
        <p class="card-text" th:text="${item.aboutme}"></p>
        <a th:href="@{/resume/detail/{id}(id=${item.id})}" class="btn btn-primary">보러 가기</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>